{% load static %}

<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <a class="jack" href="{% url 'frontuser:shirtpack' %}" >
      <img src="{% static 'images/jack4.jpg' %}", alt="Los Angeles"></a>
    </div>
    <div class="carousel-item" active>
      <a  href="{% url 'frontuser:iphone' %}" >
      <img src="{% static 'images/iphone8.png' %}"  alt="Chicago">
    </a>
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/nike.png' %} " alt="New York">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/iphonex.png' %} " alt="New York">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/p5.jpeg' %} " alt="New York">
    </div>
  </div>

    <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>


    
</div>

