{% load static %}
<!doctype html>
<html lang="en">
{% block script%}
{% include "frontuser/headerscript.html" %}
{% endblock %}
  <body>

{% block navigation %}
{% include "frontuser/navigation.html" %}
{% endblock %}
  

 
{% block body %}


{% include "frontuser/frontpage.html" %}

{% endblock %}


<div id="myapp">
{% block signup %}

{% include "frontuser/signup.html" %}

{% endblock %} 


{% block modal %}
{% include "frontuser/login.html" %}
{% endblock %}
</div>





{% block footerscript %}
{% include "frontuser/footerscript.html" %}

{% endblock %}
   
  </body>
</html>
