
</div>  
<!---- ist catbox--->
<div class="container">
  <div id="heading-block"> 
    <h2>Featured Brands</h2>
    </div>
    
    <a href="#">
       <div class="catbox">
    <img src="{% static 'images/p1.png' %}"" alt="men ">
    <span>iphone 7</span>
      </div>
      </a>
    <!---- 2nd catbox--->
      <a href="#">
       <div class="catbox">
    <img src="{% static 'images/apple.png' %}"" alt="men ">
    <span>iphone 7</span>
      </div>
    </a>
    <!---- 2nd catbox--->
      <a href="#">
       <div class="catbox">
    <img src="{% static 'images/apple3.png' %}"" alt="men ">
    <span>iphone 7</span>
      </div>
    </a>
     <!---- 2nd catbox--->
      <a href="#">
       <div class="catbox">
    <img src="{% static 'images/apple1.png' %}"" alt="men ">
    <span>iphone 7</span>
      </div>
    </a>
      
    </div>