{% load static %}


<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-primary">
  <div class="container-fluid">
    <img class="navbar-brand" src="{% static 'images/icons/flip.png' %}" width="10%" >
    <div style="color:white">e-commerce</div>
<form class="form-inline my-2 mr-auto my-lg-0">


<div class="searchwidth">
      <input class="form-control ml-sm-2 searchwidth2" type="search" placeholder="Search for product,brand & more" aria-label="Search">
      <a class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search" aria-hidden="true"></i>
</a>
</div>
    </form>

      
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">

    {% if user.is_authenticated  %}
      <p>welcome,{{ user.get_username}} <a href="{% url 'logout' %}">logout</a> </p>
      {% else %}
      <li class="nav-item active">
        <a class="nav-link" data-toggle="modal" data-target="#myModal2">signup</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" data-toggle="modal" data-target="#myModal">Login</a>
      </li>

      {% endif %}
    
    

    
      


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          More
        </a>
  <div class="dropdown">
  
  </button>
  <div class="dropdown-menu">
  <a  class="dropdown-item"  href="#"><i class="fa fa-briefcase"></i> Sell On Flipkart</a>
  <a  class="dropdown-item"  href="#"><i class="fa fa-question-circle" aria-hidden="true"></i>
24X7 CustomerCare</a>
  <a  class="dropdown-item" href="#"><i class="fa fa-line-chart" aria-hidden="true"></i>
Advertise</a>
  <a  class="dropdown-item" href="#"><i class="fa fa-download" aria-hidden="true"></i>
Download App</a>
</div> 
</div>
<div>
      <li class="nav-item">
        <!-- <a class="nav-link" href="{% url 'frontuser:cartdetails' %}"><i class="fa fa-shopping-cart" aria-hidden="true"></i>
cart</a>
      </li> -->
       <div class="header-cart-menu d-flex align-items-center ml-auto">
                                    <!-- Cart Area -->
                                    <div class="cart">
                                        <a href="#" id="header-cart-btn" target="_blank"><span class="cart_quantity">2</span> <i class="ti-bag"></i> Your Bag $20</a>
                                        <!-- Cart List Area Start -->
                                        <ul class="cart-list">
                                            <li>
                                                <a href="#" class="image"><img src="img/product-img/product-10.jpg" class="cart-thumb" alt=""></a>
                                                <div class="cart-item-desc">
                                                    <h6><a href="#">Women's Fashion</a></h6>
                                                    <p>1x - <span class="price">$10</span></p>
                                                </div>
                                                <span class="dropdown-product-remove"><i class="icon-cross"></i></span>
                                            </li>
                                            <li>
                                                <a href="#" class="image"><img src="img/product-img/product-11.jpg" class="cart-thumb" alt=""></a>
                                                <div class="cart-item-desc">
                                                    <h6><a href="#">Women's Fashion</a></h6>
                                                    <p>1x - <span class="price">$10</span></p>
                                                </div>
                                                <span class="dropdown-product-remove"><i class="icon-cross"></i></span>
                                            </li>
                                            <li class="total">
                                                <span class="pull-right">Total: $20.00</span>
                                                <a href="cart.html" class="btn btn-sm btn-cart">Cart</a>
                                                <a href="checkout-1.html" class="btn btn-sm btn-checkout">Checkout</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="header-right-side-menu ml-15">
                                        <a href="#" id="sideMenuBtn"><i class="ti-menu" aria-hidden="true"></i></a>
                                    </div>
                                </div>
      
        </div>
      </li>
    </ul>
    </nav>
  </div>


   
  

        </div>
       </div>
      </div>

    </div>

 
   
     
     </div>
    </div>
  </div>
    


</div> 
</div>

