{% extends 'frontuser/index.html' %}
{% load static %}
{% block body %}
<div class="d-flex p-3 bg-secondary text-white">
  {% for shirt in shirt_list %}
  <div class="p-2 bg-white"> <img src="{{ shirt.image.url }}">
   <div style="color:black"> <h3>{{ shirt.name }} </h3><h9>round neak T-shirt</h9>

              <h5>{{shirt.price}}<span class="text-center"></span></h5></div>
             <a class="btn btn-primary btn-sm" href="{% url 'frontuser:addcart' shirt.id %}">buy now</a>
  </div>

{% endfor %}
 </div>

{% endblock %}

  